<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="preferExternal"
    package="com.snapdrive.snapdrive" >


    <uses-permission android:name="android.permission.RECEIVE_SMS"/><uses-permission android:name="android.permission.READ_SMSD"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/snapdrive"
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        >
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CameraActivity"/>
        <activity
            android:name=".Historic"
            android:parentActivityName=".MainActivity"
        />
        <activity android:name=".Historic_viewer"
            android:parentActivityName=".Historic"
        />
        <service android:name=".RecordService"/>

        <activity android:name=".WidgetConfiguration">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <receiver android:name=".SmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>


        <receiver android:name="ActivationWidget"

            android:label="SnapDrive"
            >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="ACTIVER"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/activation_widget_meta" />
        </receiver>
        <activity android:name=".RecognitionActivity"
            android:theme="@style/Theme.Transparent"/>
        <service android:name=".TTSService" android:enabled="true"/>
    </application>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.microphone"/>
</manifest>
